<!DOCTYPE html>
<html>
<head>
    {{ if .Page -}}{{ if .Page.Params -}}
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Page.Params.target }}" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="0; url={{ .Page.Params.target }}" />
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    {{- end }}{{ end }}
</head>
<body>
    <section id="body">
        <script>
            window.open("{{ .Page.Params.target }}", "_blank");
            {{ $prefixes := slice "/discord" "/youtube" }}
            {{ if not (in $prefixes (slicestr .Page.Path 0 (len (index $prefixes 0)))) }}
            history.back();
            {{ end }}
        </script>
    </section>
</body>
</html>
